#navbar {

background-color: #00ffa2;
width: 1126px;
border-radius: 50px;
margin: auto;
z-index: 10;

}

#darkButton {

float: right;
z-index: 10;

}

#lightButton {

  float: right;
  z-index: 10;

}

#lightButton:hover {

  cursor: pointer;
animation: shimmy 1s infinite;
transition-delay: none;

}

#darkButton:hover {

  cursor: pointer;
animation: shimmy 1s infinite;
transition-delay: none;

}

@keyframes shimmy {

  0% {transform: rotateZ(0deg);}
  50% {transform: rotateZ(15deg);}
  100% {transform: rotateZ(-15deg);}
  
}

h1 {
    color: #ffffff;
    font-size: 100px;
    justify-content: center;
  align-items: center;
  filter: url("#flyOn");
  animation: wavemover 20s infinite alternate linear;
  font-family: 'Rubik Mono One', sans-serif;
  margin-bottom: -100px;
  z-index: -1;
  width: 750px;
  }
  
  @keyframes wavemover {
    100% {
      padding-left: 300px;
      transform: translateX(-100px);
    }
  }

header {
margin: auto;
width: 1200px;
text-align: center;
background-color: #04aa6d00;
z-index: 5;
margin-bottom: 100px;
}

#container {

    position: relative;
height: 800px;
background-image: url(images/background1.png);
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
margin: auto;
margin-bottom: 100px;
z-index: -1;

}

#cloud {
    position: absolute;
    bottom: 10%;
    left: 10%;
animation: move 40s infinite;
z-index: 1;

}

@keyframes move {

0%{transform: translateX(0px);}
50%{transform: translateX(600px);}
100% {transform: translateX(0px);}
    
}

body {

  background-image: url(images/grass.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;

}

button {

margin: 0;

}

.miniStudiosbtn {
    background-color: #04aa6d00;
    color: rgb(26, 107, 38);
    padding: 16px;
    font-size: 20px;
    border: none;
    font-family: 'Roboto', sans-serif,bold;
  }
  
  .dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .miniStudiocontent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 500px;
    border-radius: 0 0 25px 25px;
  }
  
  .miniStudiocontent a {
    color: black;
    padding: 12px 16px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
  }
  
  .miniStudiocontent a:hover {background-color: #ddd;}
  
  .dropdown1:hover .miniStudiocontent {display: block;}
  
  .dropdown1:hover .miniStudiosbtn {background-color: #3e8e41;}

  /* Button 2*/

  .toolkitbtn {
    background-color: #04aa6d00;
    color: rgb(26, 107, 38);
    padding: 16px;
    font-size: 20px;
    border: none;
    font-family: 'Roboto', sans-serif,bold;
  }
  
  .dropdown2 {
    position: relative;
    display: inline-block;
  }
  
  .toolkitcontent {
    align-content: center;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 500px;
    border-radius: 0 0 25px 25px;
  }
  
  .toolkitcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .toolkitcontent a:hover {background-color: #ddd;}
  
  .dropdown2:hover .toolkitcontent {display: block;}
  
  .dropdown2:hover .toolkitbtn {background-color: #3e8e41;}

    /* Button 3*/

    .resbtn {
        background-color: #04aa6d00;
        color: rgb(26, 107, 38);
        padding: 16px;
        font-size: 20px;
        border: none;
        font-family: 'Roboto', sans-serif,bold;
      }
      
      .dropdown3 {
        position: relative;
        display: inline-block;
      }
      
      .rescontent {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width: 500px;
        border-radius: 0 0 25px 25px;
      }
      
      .rescontent a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
      }
      
      .rescontent a:hover {background-color: #ddd;}
      
      .dropdown3:hover .rescontent {display: block;}
      
      .dropdown3:hover .resbtn {background-color: #3e8e41;}

      /* Button 4*/

    .devbtn {
        background-color: #04aa6d00;
        color: rgb(26, 107, 38);
        padding: 16px;
        font-size: 20px;
        border: none;
        font-family: 'Roboto', sans-serif,bold;
      }
      
      .dropdown4 {
        position: relative;
        display: inline-block;
      }
      
      .devcontent {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width: 500px;
        border-radius: 0 0 25px 25px;
      }
      
      .devcontent a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
      }
      
      .devcontent a:hover {background-color: #ddd;}
      
      .dropdown4:hover .devcontent {display: block;}
      
      .dropdown4:hover .devbtn {background-color: #3e8e41;}

       /* Button 5*/

    .capbtn {
        background-color: #04aa6d00;
        color: rgb(26, 107, 38);
        padding: 16px;
        font-size: 20px;
        border: none;
        font-family: 'Roboto', sans-serif,bold;
      }
      
      .dropdown5 {
        position: relative;
        display:inline-block;
      }
      
      .capcontent {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width: 350px;
        border-radius: 0 0 25px 25px;
      }
      
      .capcontent a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
      }
      
      .capcontent a:hover {background-color: #ddd;}
      
      .dropdown5:hover .capcontent {display: block;}
      
      .dropdown5:hover .capbtn {background-color: #3e8e41;}

      
footer {

  width: 1126px;
  background-color: #04aa6d00;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  
}

footer h2{

margin: auto;
padding: 25px;
background-color: #00ffa2;
border-radius: 50px;
color: #295d2a;

}

footer a {

  text-decoration: none;
  color: #295d2a;

}

footer h2 a:hover {

color: #6eb87f;
cursor: pointer;

}

.newGrass {

background-image: url(images/grass2.png);
background-repeat: no-repeat;
background-size: cover;
background-position-x: center;

}

.show {

  visibility:visible;
  opacity: 1;
  
  }

.hide {

visibility: hidden;
opacity: 0;

}